@charset "UFT-8";

.container{
    text-align: center;
}
.button-group{
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.button-group button{
    width: 260px;
    height: 40px;
}
.button-group button:nth-of-type(1){
    margin-bottom: 10px;
    background: #ffffff;
    border: 2px solid #5095F6;
    color: #5095F6;
}
.button-group button:nth-of-type(2){
    background: #5095F6;
    color: #ffffff;
}